<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!------ Include the above in your HEAD tag ---------->


<body>

   <header>
    <div class="a">
        <img src="assets\img\logo.png" href="#" width="150" heigh="150"class="logo">
        
        <div class="card">
        <img src="assets\img\kls.jpg" alt="Anass Khayat" style="width:100%" class="pdp">
        <h1 class="nom">Anass Khayat</h1>
        <p class="idvoy">Id Voyageur:1484</p>

        <a href="#" class=message><i class="fa fa-gears"></i></a>
       
        </div>
      <div class="topnav">
         <a class="navbar-brand" routerLink="/voyages"><i class="fa fa-tree"></i>  Voyages</a>
         <a class="navbar-brand" routerLink="/favoris"><i class="fa fa-star"></i>  Favoris</a>
         <a><i class="fa fa-book"></i>  Historique</a>
         <a class="navbar-brand" routerLink="/accueil"><i class="fa fa-sign-out"></i>  Se déconnecter</a>
       </div>
       


    </div>
      
      
   </header>
     
    
   <div class="b">
    
    <h1 class="bienv">Bienvenue dans votre historique de voyages</h1>
    
   
    
    
  
        <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Nom</th>
            <th>destination</th>           
            <th>Date de participation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let histo of voyages">
            <td>{{histo.nom}}</td>
            <td>{{histo.destination}}</td>  
            <td>{{histo.dateParticipation}}</td>
            <td class="text-center"><button class="btn" (click)="deleteVoyages(voyage.idpff)"><span class="glyphicon glyphicon-folder-close"></span></button><button type="button" class="btn btn-primary btn" (click)="onclicked(voyage.username,voyage.destination)" routerLink="/evaluation" >Evaluer</button></td>
          </tr>
    </tbody>
    </table>
</div>
</body>
        
    
