
  <div class="panel panel-success" *ngIf="mode==1">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item"> <strong>Merci pour votre vote</strong> </li>

      </ul>
      <button mat-raised-button color="primary" routerLink="/histo">Revenir à votre espace voyageur</button>
    </div>
  </div>
  <div class="example-container mat-elevation-z8">
    <h2 class="headertekst">Evaluation</h2>
    

    <mat-card class="example-card">
      <form [formGroup]="evaluationForm">
        <mat-form-field class="example-full-width">
          <mat-label>nombre De Personnes</mat-label>
          <input matInput type="number" placeholder="Notez sur 10..." class="form-input" formControlName="notee">
          <mat-error>
            <span *ngIf="!evaluationForm.get('notee').valid && evaluationForm.get('notee').touched">Veuillez entrer une note sur 10</span>
          </mat-error>
        </mat-form-field>


        <div class="button-row">

          <button class="btn btn-success" value="evaluer" (click)="registerNow()" [disabled]="!evaluationForm.valid" mat-flat-button color="primary" ><mat-icon>save</mat-icon></button>
         
        </div>
 
      </form>
    </mat-card>
  </div>





