

html, body {
  background: url(insc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

.example-container {
  position: relative;
  padding: 5px;
}

.mat-card {
  background-color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  color: white;
}

#farmer {
  width: 77px;
  height: 77px;
}

.example-form {
  color: black;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  color: black;
  width: 100%;
}

  .example-full-width:nth-last-child(0) {
    margin-bottom: 10px;
  }

.button-row {
  margin: 10px 0;
}

mat-label {
  color: black;
}
