<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body>
<div style="text-align: center">
    <h1 >{{message}}</h1>
</div>
<div>
  <div class="panel panel-success" *ngIf="mode==1">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item"> <strong>Merci pour votre vote</strong> </li>

      </ul>
      <button mat-raised-button color="primary" routerLink="/histo">Revenir à votre espace voyageur</button>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-6">
        <form>
          <fieldset>
            <legend class="text-center">

              Evaluation<span class="req">
                <small>
                </small>
              </span>
            </legend>

            <div class="form-group">
              <label for="note">
                <span class="req">* </span> Note: <small>
                  Veuillez noter le voyage globalement
                </small>
              </label>
              <input required type="number" formControlName="note" name="note" id="note"
                     class="form-control phone" maxlength="28" placeholder="Notez sur 10..." />
            </div>
            <input class="btn btn-success" type="button" id="button2" value="evaluer" (click)="registerNow()" />
            

          </fieldset>
        </form><!-- ends register form -->
        <!-- second for to fiter user-->
      </div><!-- ends col-6 -->

    </div>
  </div>
</div>
</body>
